body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 40px;
}

input {
  border-color: #a1a1a1;
  font-size: 1.3rem;
  width: 100%;
}

.gifGrid {
  display: flex;
  flex-wrap: wrap;
}

.imageCard {
  border: 1px solid #474747;
  border-radius: 0.5em;
  text-align: center;
  margin: 1em;
}

.imageCard img {
  max-height: 10rem;
  width: 100%;
}

.imageCard p {
  overflow: hidden;
  padding: 0.5rem;
  word-wrap: normal;
}